@import '../app.styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  h3 {
    margin-top: 0;
    font-size: 1.3rem;
    text-align: center;
  }
}

.error {
  color: red;
}

.success {
  color: green;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.1rem;

  input {
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  button {
    background-color: $stevens-red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1rem 0 1.5rem 0;
    padding: 0.6rem 1rem;
  }
}
