@import '../app.styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageButton {
  @include button();
  background-color: $info;
  width: 50%;

  &:hover {
    background-color: darken($info, 8%);
  }

  @media (max-width: 600px) {
    width: 90%
  }
}

.progressContainer {
  width: 50%;
  text-align: center;
  margin: 0.5rem 0;

  @media (max-width: 600px) {
    width: 90%
  }
}

.progressBar {
  border: 1px solid black;
  border-radius: 20px;
  height: 2rem;
  overflow: hidden;
}

.credRatio {
  font-weight: 500;
}

.semesterContainer {
  margin: 0.5rem 1rem;
}
