@import '../app.styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageButton {
  color: white;
  background-color: #4286f4;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  width: 50%;
  padding: 0.7rem 0.9rem;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 1.5rem;
  transition: 0.3s;

  &:hover {
    background-color: #3b78db
  }
}
