@import '../app.styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageButton {
  color: white;
  background-color: #4286f4;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  width: 50%;
  padding: 0.7rem 0.9rem;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 1.5rem;
  transition: 0.3s;

  &:hover {
    background-color: #3b78db
  }

  @media (max-width: 600px) {
    width: 90%
  }
}

.progressContainer {
  width: 50%;
  text-align: center;
  margin: 0.5rem 0;

  @media (max-width: 600px) {
    width: 90%
  }
}

.progressBar {
  border: 1px solid black;
  border-radius: 20px;
  height: 2rem;
  overflow: hidden;
}

.credRatio {
  font-weight: 500;
}

.semesterContainer {
  margin: 0.5rem 1rem;
}
