@import '../app.styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.reset {
  @include button();
  background-color: $failure;

  &:hover {
    background-color: darken($failure, 8%);
  }
}

.save {
  @include button();
  background-color: $success;

  &:hover {
    background-color: darken($success, 8%);
  }
}

.undoRedo {
  display: flex;
  margin: 1rem 1.5rem;
  width: 30%;

  button {
    @include button();
    margin: 0;
    width: 50%;
  }

  .undo {
    border-radius: 5px 0 0 5px;
    background-color: $failure;

    &:hover {
      background-color: darken($failure, 8%);
    }
  }

  .redo {
    border-radius: 0 5px 5px 0;
    background-color: $info;

    &:hover {
      background-color: darken($info, 8%);
    }
  }
}

.columnGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.half {
  width: 50%;
  padding: 1rem;
}

@mixin column() {
  border: 1px solid $stevens-gray;
  margin-bottom: 1rem;

  .columnHeader {
    color: white;
    background-color: $stevens-red;
    font-weight: 300;
    margin: 0;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  .columnBody {
    padding: 0 0.7rem;
    max-height: 35vh;
    overflow: auto;
  }
}

.column {
  @include column();
}

.mainColumn {
  @include column();
  min-height: 60vh;

  .columnBody {
    max-height: 60vh;
    overflow: auto;
  }
}

.subColumn {
  margin-bottom: 0.5rem;

  .columnHeader {
    color: white;
    background-color: $stevens-gray;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0 -0.7rem;
    padding: 0.2rem 0.7rem;
  }

  .columnBody {
    padding: 0.2rem 0;
    max-height: none;
  }
}

.unboundColumn {
  @include column();

  .columnBody {
    max-height: none;
  }
}

.columnButton {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  i { font-size: 1.6rem; color: white; }
}

.course {
  border: 1px solid $stevens-red;
  background-color: white;
  margin: 0.7rem 0;
  padding: 0.3rem 0.6rem;
  display: flex;
  justify-content: space-between;
}

.grabbable {
  cursor: pointer;
  cursor: grab;
  cursor: -webkit-grab;
}
