@import '../app.styles';

.container {
  background-color: $stevens-red;
  color: white;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  height: 100%;
}

.h1 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  padding: 0 0.5rem;
}

.accountMenu {
  position: relative;
  display: inline-block;
}

.menuButton {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.accountIcon {
  font-size: 2rem;
}

.userName {
  margin: 0;
  padding: 0 0.25rem;
  font-size: 1rem;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;

  button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    padding: 0.7rem 0.9rem;
    text-align: left;
    text-decoration: none;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1
    }
  }
}

.show {
  display: block;
}
