:global(body) {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

:global(.material-icons) {
  -webkit-font-smoothing: subpixel-antialiased;
}

// COLORS

$stevens-red: #A32638;
$stevens-gray: #9A989A;
